<%
  @page_back_link = root_path
%>

  <div class="dfe-width-container">
    <main class="govuk-main-wrapper">      
      <h1 class="govuk-heading-l"><%= t("search.title") %></h1>
      <div class="dfe-grid-column-full-width">
        <%= render "search/full_width_search_box" %>
      </div>
      <% if @solutions.any? %>
        <div class="search-results-section" %>
          <h2 class="govuk-heading-m">
            <%= t("results.section.title.type.solution") %>
          </h2>
          <div class="govuk-grid-row">
            <% @solutions.each_slice(2) do |solution_pair| %>
              <% solution_pair.each do |solution| %>
                <div class="govuk-grid-column-one-half">
                  <ul class="govuk-list">
                    <li>
                      <h3>
                          <%= govuk_link_to solution.title, solution_path(solution.slug) %>
                      </h3>
                      <p>
                        <%= solution.description %>
                      </p>
                    </li>
                  </ul>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>

      <% if @categories.any? %>
      <div class="search-results-section" %>
          <h2 class="govuk-heading-m">
            <%= t("results.section.title.type.category") %>
          </h2>
          <div class="govuk-grid-row">
            <% @categories.each_slice(2) do |category_pair| %>
              <% category_pair.each do |category| %>
                <div class="govuk-grid-column-one-half">
                  <ul class="govuk-list">
                    <li class="category-search-result">
                      <h3 class="govuk-heading-m">
                        <%= govuk_link_to category.title, category_path(category) %>
                      </h3>
                      <p>
                        <%= category.description %>
                      </p>
                    </li>
                  </ul>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </main>
  </div>
