<footer class="gem-c-layout-footer govuk-footer gem-c-layout-footer--border">
  <div class="dfe-width-container">
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        <h2 class="govuk-visually-hidden"><%= t(".feedback") %></h2>
        <ul class="govuk-footer__list govuk-footer__list--inline govuk-!-margin-bottom-6">
          <li class="govuk-footer__list-item">
            <a class="govuk-footer__link" href="https://www.get-help-buying-for-schools.service.gov.uk/procurement-support" target="_blank"><%= t(".procurement_support") %></a>
          </li>
          <li class="govuk-footer__list-item">
            <a class="govuk-footer__link" href="https://www.get-help-buying-for-schools.service.gov.uk/customer_satisfaction_surveys/new?service=find_a_buying_solution&source=footer_link"><%= t(".feedback") %></a>
          </li>
          <li class="govuk-footer__list-item">
            <a class="govuk-footer__link" href="/accessibility-statement"><%= t(".accessibility_statement") %></a>
          </li>
          <li class="govuk-footer__list-item">
            <a class="govuk-footer__link" href="/privacy-notice"><%= t(".privacy_notice") %></a>
          </li>
          <li class="govuk-footer__list-item">
            <a class="govuk-footer__link" href="/terms-and-conditions"><%= t(".terms_and_conditions") %></a>
          </li>
        </ul>
        <div><%= govuk_footer_licence_logo %></div>
        <div class="govuk-footer__licence-description">
          <%= t(".licensing_html",
                ogl3: link_to(t(".ogl3"),
                              "https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/",
                              class: "govuk-footer__link",
                              rel: "license")) %>
        </div>
      </div>
      <div class="govuk-footer__meta-item">
        <a class="govuk-footer__link govuk-footer__copyright-logo" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/"><%= t(".crown_copyright") %></a>
      </div>
    </div>
  </div>
</footer>
