<footer class="gem-c-layout-footer govuk-footer gem-c-layout-footer--border">
  <div class="dfe-width-container">
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        <h2 class="govuk-visually-hidden"><%= t(".feedback") %></h2>
        <ul class="govuk-footer__inline-list govuk-footer__inline-list--inline govuk-!-margin-bottom-6">
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="https://www.get-help-buying-for-schools.service.gov.uk/procurement-support" target="_blank" rel="noopener noreferrer"><%= t(".procurement_support") %><span class="govuk-visually-hidden"> <%= t("shared.external_link.opens_in_new_tab") %></span></a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="<%=customer_satisfaction_survey_url("footer_link") %>" target="_blank" rel="noopener noreferrer"><%= t(".feedback") %><span class="govuk-visually-hidden"> <%= t("shared.external_link.opens_in_new_tab") %></span></a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="/accessibility-statement"><%= t(".accessibility_statement") %></a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="https://www.gov.uk/government/organisations/department-for-education/about/personal-information-charter" target="_blank" rel="noopener noreferrer"><%= t(".privacy_notice") %><span class="govuk-visually-hidden"> <%= t("shared.external_link.opens_in_new_tab") %></span></a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="/terms-and-conditions"><%= t(".terms_and_conditions") %></a>
          </li>
        </ul>
        <div><%= govuk_footer_licence_logo %></div>
        <div class="govuk-footer__licence-description">
          <%= t(".licensing_html",
                ogl3: fabs_govuk_link_to(t('.ogl3'), "https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/")) %>
        </div>
      </div>
      <div class="govuk-footer__meta-item">
        <a class="govuk-footer__link govuk-footer__copyright-logo" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/" target="_blank" rel="noopener noreferrer"><%= t(".crown_copyright") %><span class="govuk-visually-hidden"> <%= t("shared.external_link.opens_in_new_tab") %></span></a>
      </div>
    </div>
  </div>
</footer>
