<header class="dfe-header" role="banner">
  <%= render "shared/dfe_logo_and_menu" %>

  <div class="dfe-width-container dfe-header__link--service">
    <section class="dfe-page-hero">
      <div class="dfe-width-container">
        <div class="dfe-grid-row">
          <div class="dfe-grid-column-two-thirds">
            <h1 class="dfe-heading-xl">
              <%= t('header_title') %>
            </h1>
            <h1 class="dfe-body-l header_description">
              <%= t('header_description') %>
            </h1>
            <%= render "shared/dfe_search" %>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="dfe-width-container dfe-header__service-name govuk-!-margin-top-4">
    <%= link_to  t(".home_link"), categories_all_path, class:"dfe-header__link--service" %>
  </div>

  <%= render "shared/dfe_beta_banner" %>
</header>
