<div class="sidebar govuk-grid-column-one-third govuk-!-margin-top-7 govuk-!-margin-bottom-7">
  <h3> <%= t(".related_actions") %> </h3>
  <p>
  <ul>
    <li><%= govuk_link_to "Plan technology for your school", root_path %></li>
    <li><%= govuk_link_to "Read guidance on buying ICT", root_path %></li>
    <li><%= govuk_link_to "Read guidance on buying printing devices", root_path %></li>
  </ul>
  </p>
  <h3> <%= t(".catalogues") %> </h3>
  <p>
  <ul>
    <li><%= govuk_link_to "View Everything ICT catalogue", root_path %></li>
  </ul>
  </p>
</div>