<footer class="gem-c-layout-footer govuk-footer gem-c-layout-footer--border">
  <div class="dfe-width-container">
    <div class="govuk-footer__navigation">
      <div class="govuk-grid-column-one-third govuk-!-display-none-print">
        <h2 class="govuk-footer__heading govuk-heading-m"><%= t(".service_and_information") %></h2>
        <ul class="govuk-footer__list govuk-footer__list--columns-1">
          <li class="govuk-footer__list-item">
            <a class="govuk-footer__link" href="/TODO"><%= t(".get_help_dfe") %></a>
          </li>
          <li class="govuk-footer__list-item">
            <a class="govuk-footer__link" href="/TODO"><%= t(".get_help_other") %></a>
          </li>
          <li class="govuk-footer__list-item">
            <a class="govuk-footer__link" href="/TODO"><%= t(".about_dfe_approved") %></a>
          </li>
          <li class="govuk-footer__list-item">
            <a class="govuk-footer__link" href="/TODO"><%= t(".about_us") %></a>
          </li>
          <li class="govuk-footer__list-item">
            <a class="govuk-footer__link" href="/TODO"><%= t(".contact_us") %></a>
          </li>
        </ul>
      </div>

      <div class="govuk-grid-column-one-third govuk-!-display-none-print">
        <h2 class="govuk-footer__heading govuk-heading-m"><%= t(".give_feedback") %></h2>
        <ul class="govuk-footer__list govuk-footer__list--columns-1">
          <li class="govuk-footer__list-item">
            <a class="govuk-footer__link" href="/TODO"><%= t(".give_feedback") %></a>
          </li>
          <li class="govuk-footer__list-item">
            <a class="govuk-footer__link" href="/TODO"><%= t(".report_issue") %></a>
          </li>
        </ul>
      </div>

      <div class="govuk-grid-column-one-third govuk-!-display-none-print">
        <h2 class="govuk-footer__heading govuk-heading-m"><%= t(".site_information") %></h2>
        <ul class="govuk-footer__list govuk-footer__list--columns-1">
          <li class="govuk-footer__list-item">
            <a class="govuk-footer__link" href="/TODO"><%= t(".accessibility_statement") %></a>
          </li>
          <li class="govuk-footer__list-item">
            <a class="govuk-footer__link" href="/TODO"><%= t(".privacy_notice") %></a>
          </li>
          <li class="govuk-footer__list-item">
            <a class="govuk-footer__link" href="/TODO"><%= t(".terms_and_conditions") %></a>
          </li>
        </ul>
      </div>
    </div>

    <hr class="govuk-footer__section-break govuk-!-display-none-print">

    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        <h2 class="govuk-visually-hidden"><%= t(".give_feedback") %></h2>
        <%= govuk_footer_licence_logo %>
        <span class="govuk-footer__licence-description">
          <%= t(".licensing_html",
                ogl3: link_to(t(".ogl3"),
                              "https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/",
                              class: "govuk-footer__link",
                              rel: "license")) %>
        </span>
      </div>
      <div class="govuk-footer__meta-item">
        <a class="govuk-footer__link govuk-footer__copyright-logo" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/"><%= t(".crown_copyright") %></a>
      </div>
    </div>
  </div>
</footer>

