<div class="page-header">
  <div class="dfe-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <%= govuk_back_link(href:  page_back_link ) %>
        <div><%= page_section_title %></div>
        <h2 class="govuk-heading"><%= page_title %></h2>
        <p>
          <%= page_description %>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="dfe-width-container">
  <div class="blue-line">  </div>
    <div class="govuk-!-margin-top-7 govuk-!-margin-bottom-7">
      <%= yield %>
    </div>
</div>
