<div class="page-header">
  <div class="dfe-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <%= govuk_back_link(href: root_path ) %>
        <h2 class="govuk-heading"><%= @message.presence || t(".title") %></h2>
        <p class="govuk-body">
          <%= t(".check_typed") %>
        </p>
        <p class="govuk-body">
          <%= t(".check_pasted") %>
        </p>
        <p class="govuk-body">
          <%= t(".contact", service_name: t("service.name")) %>
        </p>
      </div>
    </div>
  </div>
</div>
