<div class="govuk-!-margin-top-4">
  <% if @energy_banner %>
    <%= render partial: 'energy_banner', locals: { banner: @energy_banner } %>
  <% end %>
  <% if show_offers_section?(@number_of_offers) %>
    <h2 class="govuk-heading-m"><%= t(".offers_title") %></h2>
    <p class="description"><%= t(".offers_description") %></p>
    <% if show_browse_all_offers_link?(@number_of_offers, @featured_offers) %>
      <%= link_to  t(".browse_all_offers"), offers_path, class:"all-offers-link govuk-body underlined" %>
    <% end %>

    <% if @featured_offers_with_images_to_show_on_homepage.size > 0 %>
      <div class="dfe-grid-container offers-grid-container">
      <% if @featured_offers_with_images_to_show_on_homepage.size == 3 %>
        <!-- Display the first 3 featured offers with images as cards -->
        <% @featured_offers_with_images_to_show_on_homepage.each do |offer| %>
          <%= render partial: "offers/offer", locals: { offer: offer } %>
        <% end %>
      <% else %>
        <ul>
          <% @featured_offers_to_show_as_bullet_points.each do |offer| %>
            <li>
              <%= govuk_link_to offer.title, offer_path(slug: offer.slug), class: "govuk-link" %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <% end %>
  <% end %>

  <h2 class="govuk-heading-m"><%= t(".title") %></h2>
  <div class="dfe-grid-container">
    <% @categories.each do |category| %>
      <%= render "category", category: category %>
    <% end %>
  </div>
</div>