<div class="govuk-!-margin-top-4">
  <% if @energy_banner %>
    <%= render partial: 'energy_banner', locals: { banner: @energy_banner } %>
  <% end %>
  <% if @number_of_offers > 0 %>
    <h2 class="govuk-heading-m"><%= t(".offers_title") %></h2>
    <p class="description"><%= t(".offers_description") %></p>
    <% if @number_of_offers > 3  %>
      <%= link_to  t(".browse_all_offers"), offers_path, class:"all-offers-link govuk-body underlined" %>
    <% end %>

    <div class="dfe-grid-container offers-grid-container">
      <% if @featured_offers_with_images_to_show_on_homepage.size == 3 %>
        <!-- Display the first 3 featured offers with images as cards -->
        <% @featured_offers_with_images_to_show_on_homepage.each do |offer| %>
          <%= render partial: "offers/offer", locals: { offer: offer } %>
        <% end %>
      <% else %>
        <!-- A minimum of 3 featured offers with images is required to display as cards -->
        <!-- Display the first 3 featured offers as bullet points -->
        <ul class="offer-list">
          <% @featured_offers_to_show_as_bullet_points.each do |offer| %>
            <li class="offer-list-item">
              <%= govuk_link_to offer.title, offer_path(slug: offer.slug), class: "govuk-link" %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>

  <% end %>

  <h2 class="govuk-heading-m"><%= t(".title") %></h2>
  <div class="dfe-grid-container">
    <% @categories.each do |category| %>
      <%= render "category", category: category %>
    <% end %>
  </div>
</div>