<% if not @subcategories.empty? %>
  <div class="subcategory-filters-container">
    <div class="filters-top-row">
      <div class="subcategory-filters">
        <%= govuk_details(summary_text: t(".filter"), open: params[:subcategory_slugs].presence) do %>
          <%= form_with url: category_path(@category), method: :get  do |f| %>
            <fieldset class="govuk-fieldset">
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" checked="checked">
                <%= f.collection_check_boxes :subcategory_slugs, @subcategories, :slug, :title,
                checked: params[:subcategory_slugs] do |b| %>
                  <div class="govuk-checkboxes__item">
                    <%= b.check_box(class: "govuk-checkboxes__input") %>
                    <%= b.label(class: "govuk-label govuk-checkboxes__label") do %>
                      <%= b.text %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </fieldset>
            <button type="submit" class="govuk-button" data-module="govuk-button">
              <%= t(".apply") %>
            </button>
          <% end %>
        <% end %>
      </div>
      <div class="solutions-count">
        <%= t("results.count", count: @solutions.count) %>
      </div>
    </div>

    <% unless params.fetch(:subcategory_slugs, []).compact_blank.blank? %>
      <%= render "categories/filter_labels" %>
    <% end %>
  </div>
<% end %>

<h2><%= t(".title") %></h2>
<p><%= t(".standfirst") %></p>

<ul class="gem-c-cards__list gem-c-cards__list--one-column govuk-!-margin-top-9">
  <% @solutions.each do |solution| %>
    <li class="gem-c-cards__list-item">
      <div class="gem-c-cards__list-item-wrapper">
        <h3 class="gem-c-cards__sub-heading govuk-heading-s">
          <%= govuk_link_to solution.title, solution_path(solution.slug), class: "govuk-link gem-c-cards__link gem-c-force-print-link-styles" %>
        </h3>
        <p class="govuk-body gem-c-cards__description">
          <%= solution.description %>
        </p>
      </div>
    </li>
  <% end %>
</ul>

<% content_for :sidebar do %>
  <%= render partial: "shared/related_content", locals: { related_content: @category.related_content } %>
<% end %>
