<div class="dfe-page-header">
  <h1><%= @category.title %></h1>
  <p>
    <%= @category.description %>
  </p>
</div>

<%= govuk_back_link(href: "/") %>

<h2>Buying options</h2>

<%= govuk_accordion do |accordion| %>
  <% @category.solutions.each do |solution| %>
    <% accordion.with_section(heading_text: solution.title) do %>
      <p>Provider: <%= solution.provider_name %></p>
      <p><%= solution.description %></p>
      <div class="govuk-button-group">
        <a href="<%= category_solution_path(@category.slug, solution.slug) %>" class="govuk-button" data-module="govuk-button">
          Go to framework
        </a>
        <a href="<%= category_solution_path(@category.slug, solution.slug) %>"  class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Learn more about this framework
        </a>
      </div>
    <% end %>
  <% end %>
<% end %>
