<% unless @subcategories.empty? %>
  <div class="subcategory-filters-container">
    <div class="filters-top-row">
      <div class="subcategory-filters">
        <%= govuk_details(summary_text: t(".filter"), open: params[:subcategory_slugs].presence) do %>
          <%= form_with url: category_path(@category), method: :get  do |f| %>
            <fieldset class="govuk-fieldset">
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" checked="checked">
                <%= f.collection_check_boxes :subcategory_slugs, @subcategories, :slug, :title,
                checked: params[:subcategory_slugs] do |b| %>
                  <div class="govuk-checkboxes__item">
                    <%= b.check_box(class: "govuk-checkboxes__input") %>
                    <%= b.label(class: "govuk-label govuk-checkboxes__label") do %>
                      <%= b.text %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </fieldset>
            <button type="submit" class="govuk-button" data-module="govuk-button">
              <%= t(".apply") %>
            </button>
          <% end %>
        <% end %>
      </div>
      <div class="results-count">
        <%= t("results.count", count: @solutions.count) %>
      </div>
    </div>

    <% unless params.fetch(:subcategory_slugs, []).compact_blank.blank? %>
      <%= render "categories/filter_labels" %>
    <% end %>
  </div>
<% end %>


<h2 class="govuk-!-margin-top-6 govuk-!-margin-bottom-2"><%= t(".title") %></h2>
<p class="govuk-body-l"><%= t(".standfirst") %></p>

<%= render partial: "shared/solutions", locals: { solutions: @solutions } %>

<% content_for :sidebar do %>
  <%= render partial: "shared/related_content", locals: { related_content: @category.related_content } %>
<% end %>
