<div class="page-with-sidebar">
  <div class="dfe-width-container">
    <div class="govuk-grid-row">
      <div class="sidebar govuk-grid-column-one-third govuk-!-margin-top-7 govuk-!-margin-bottom-7">
          <nav class="moj-side-navigation" aria-label="Side navigation">
            <ul class="moj-side-navigation__list">
              <% @sorted_categories.each_with_index do |(category_slug, category_data), index| %>
                <li class="moj-side-navigation__item <%= "moj-side-navigation__item--active" if index.zero? %>">
                  <%= link_to category_slug, "##{category_slug.parameterize}", class: "dfe-side-navigation__link" %>
                </li>
              <% end %>
            </ul>
          </nav>
      </div>

      <div class="all-buying-options govuk-grid-column-two-thirds govuk-!-margin-top-7 govuk-!-margin-bottom-7">
        <% @sorted_categories.each do |category_slug, category_data| %>
          <div class="all-buying-options-category">
            <h3 id="<%= category_slug.parameterize %>"><%= category_data[:slug] %></h3>
            <p><%= category_data[:description] %></p>
            <% category_data[:solutions].each do |solution| %>
              <div class="all-buying-options-solution ">
                <h4><%= govuk_link_to solution.title, solution_path(solution.slug) %></h4>
                <p><%= solution.description %></p>
                <% if solution.provider_name.present? %>
                  <p class="govuk-secondary-text-colour">
                      <%= t(".all_buying_options_provider") %> <%= solution.provider_name %>
                  </p>
                <% end %>
                <% if solution.expiry.present? %>
                  <p class="govuk-secondary-text-colour">
                    <%= t(".all_buying_options_expires") %> <%= format_date(solution.expiry) %>
                  </p>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

  </div>

</div>
