<%= render_markdown_to_html(@solution.summary) %>

<% if @solution.suffix&.description.present? %>
  <%= render_markdown_to_html(@solution.suffix.description) %>
<% end %>

<% if @solution.provider_name.present? %>
  <p class="govuk-secondary-text-colour">
    <%= t(".provider") %> <%= @solution.provider_name %>
  </p>
<% end %>

<% if @solution.expiry.present? %>
  <p class="govuk-secondary-text-colour">
    <%= t(".expires") %> <%= format_date(@solution.expiry) %>
  </p>
<% end %>

<%= fabs_govuk_link_to h(solution_cta(@solution)), @solution.url, class: "govuk-button", data: { survey_url: usability_survey_url(@solution.url) } %>

<% content_for :sidebar do %>
  <%= render partial: "shared/related_content", locals: { related_content: @solution.related_content } %>
<% end %>
