<%= render "shared/dfe_base" do %>
  <%= render "shared/dfe_header" %>
  <div>
    <%= render "shared/dfe_beta_banner" %>
    <div class="main-container dfe-width-container">
      <%= render partial: "shared/breadcrumbs", locals: { govuk_breadcrumb_builder: govuk_breadcrumb_builder} %>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading"><%= @page_title %></h2>
          <p>
            <%= @page_description %>
          </p>
        </div>
      </div>
    </div>
  </div>

  <%= yield %>

  <%= render "shared/dfe_footer" %>
 <% end %>
