<%= render "shared/dfe_base" do %>
  <%= render "shared/dfe_header" %>

  <div>
    <div class="main-container dfe-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <%= govuk_back_link(href:  @page_back_link ) %>
          <br/><br/>
          <h2 class="govuk-heading"><%= @page_title %></h2>
          <p>
            <%= @page_description %>
          </p>
        </div>
      </div>
    </div>
  </div>

  <%= yield %>

  <%= render "shared/dfe_footer" %>
 <% end %>

