<%= render "shared/dfe_base" do %>
  <%= render "shared/dfe_header" %>

  <div class="page-header">
    <div class="dfe-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <%= govuk_back_link(href:  @page_back_link ) %>
          <br/><br/>
          <div><%= @page_section_title %></div>
          <h2 class="govuk-heading"><%= @page_title %></h2>
          <p>
            <%= @page_description %>
          </p>
        </div>
      </div>
    </div>
  </div>

  <% if content_for?(:content) %>
    <div class="page-with-sidebar">
      <div class="dfe-width-container">
        <div class="blue-line"></div>
        <div class="govuk-grid-column-two-thirds govuk-!-margin-top-7 govuk-!-margin-bottom-7">
          <%= yield(:content) %>
        </div>
        <%= render "shared/dfe_sidebar" %>
      </div>
    </div>
  <% end %>

  <%= render "shared/dfe_footer" %>
<% end %>
