<%= render "shared/dfe_base" do %>
  <%= render "shared/dfe_header" %>

  <div class="page-header">
    <div class="dfe-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <%= govuk_back_link(href:  @page_back_link ) %>
          <div class="section-title"><%= @page_section_title %></div>
          <h1 class="govuk-heading"><%= @page_title %></h1>
          <p class="page-description">
            <%= @page_description %>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="page-with-sidebar">
    <div class="dfe-width-container">
      <div class="blue-line"></div>
      <div class="govuk-grid-column-two-thirds govuk-!-padding-left-0 govuk-!-margin-top-4 govuk-!-margin-bottom-7">
        <%= yield %>
      </div>
      <%= render "shared/dfe_sidebar" %>
    </div>
  </div>

  <%= render "shared/dfe_footer" %>
 <% end %>

