<%= render "shared/dfe_base" do %>
  <header class="dfe-header" role="banner">
    <%= render "shared/dfe_logo_and_menu" %>
    <%= render "shared/dfe_beta_banner" %>
  </header>

  <div class="page-header">
    <div class="dfe-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <%= govuk_back_link(href:  @page_back_link ) %>
          <br/><br/>
          <div><%= @page_section_title %></div>
          <h2 class="govuk-heading"><%= @page_title %></h2>
          <p>
            <%= @page_description %>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="page-with-sidebar">
    <div class="dfe-width-container">
      <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-7">
        <%= yield %>
      </div>
    </div>
  </div>

  <%= render "shared/dfe_footer" %>
 <% end %>

